body {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 98vw;
    height: 100%;
    background-color: rgb(0, 0, 0);
    font-family: ubuntu, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4em;
    color: white;
    z-index: 0;
}
header {
    display: flex;
    position: sticky;
    top: 0;
    flex-flow: row wrap;
    align-items: space-around;
    justify-content: space-between;
    width: 100%;
    min-height: 3em;
    padding-top: 1%;
    background-color: black;
    z-index: 1;
}
img {
    position: relative;
    left: 0.3em;
    top: 0.3em;
    width: 1.2em;
    height: auto;
}
button {
    width: 10em;
    height: 3em;
    background-color: rgb(11, 11, 39);
    border: black;
    border-radius: 50px;
    text-decoration: none;
    font-size: 0.7em;
    color: rgb(219, 230, 123);
    transition: 0.2s ease-in-out;
}
button:hover {
    transform: scale(1);
    box-shadow: 5px black;
    text-decoration: none;
    font-size: 0.8em;
    background-color: rgb(13, 13, 59);
    color: rgb(228, 225, 51);
}
main {
    display: grid;
    grid-template-columns: 1fr 3em 3em 3em;
    grid-template-rows: auto;
    width: 100%;
    height: auto;
    background-color: rgb(11, 11, 75);
}
#check {
    display: grid;
    grid-template-columns: 3em 3em 3em;
    grid-template-rows: auto;
    grid-gap: 2%;
    width: 100%;
}
input[type="checkbox"]:hover {
    transform: scale(1.1);
}
span {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
.intitule {
    justify-content: center;
    padding-left: 20%;
    padding-right: 5%;
}
article {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}
article:hover {
    color: khaki;
}
article:nth-child(1n+1) {
    background-color: rgb(69, 87, 5);
} 
article:nth-child(2n+1) {
    background-color: rgb(10, 9, 68);
} 
input {
    width: 50%;
    height: auto;
}
a {
    text-decoration: none;
    color: rgb(219, 230, 123);
    transition: 0.2s ease-in-out;
}
a:hover {
    text-decoration: none;
    font-size: 1.1em;
    color: rgb(228, 225, 51);
}
#submit {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
input[type="submit"] {
    outline: none;
    min-width: 20rem;
    min-height: 1em;
    border: 3px solid black;
    border-radius: 25px;
    background-color: crimson;
    color: white;
    font-size: 1.8em;
    padding: 0.3em;
}
input[type="submit"]:hover {
    background-color: rgb(26, 129, 12);
    color: black;
    transform-box: view-box;
}
input[type="submit"]:active {
    transform: scale(0.9);
    background-color: rgb(26, 129, 12);
    color: rgb(255, 255, 255);
    transform-box: view-box;
}
footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 10%;
}
@media screen and (max-width: 450px) {
    body {
        font-size: 0.8em;
    }
    .intitule {
        padding-left: 1%;
        padding-right: 20%;
        font-size: 0.8em;
    }
}